---
import SectionContainer from "../../components/SectionContainer.astro";
import 'photoswipe/style.css';
import Brush from "../../icons/Brush.astro";
import Layout from "../../layouts/Layout.astro";
import { Gallery } from "../Gallery";
import { getI18n } from "../../i18n/ui";

const { currentLocale = 'es' } = Astro
const i18n = getI18n({ currentLocale })

const GALLERY = [
    {
        name: "china",
        thumb: "/designs/manipulations/thumbs/china.webp",
        img: "/designs/manipulations/china.webp",
        width: "1920",
        height: "1080",
        isVertical: false
    },
    {
        name: "cat",
        thumb: "/designs/manipulations/thumbs/cat.webp",
        img: "/designs/manipulations/cat.webp",
        width: "3000",
        height: "4000",
        isVertical: true
    },
    {
        name: "crime",
        thumb: "/designs/manipulations/thumbs/crime.webp",
        img: "/designs/manipulations/crime.webp",
        width: "1920",
        height: "1080",
        isVertical: false
    },
    {
        name: "spinetta",
        thumb: "/designs/manipulations/thumbs/spinetta.webp",
        img: "/designs/manipulations/spinetta.webp",
        width: "1200",
        height: "1200",
        isVertical: true
    },
    {
        name: "dillom",
        thumb: "/designs/manipulations/thumbs/dillom.webp",
        img: "/designs/manipulations/dillom.webp",
        width: "3000",
        height: "2000",
        isVertical: false
    },
]
---

<Layout title={i18n.MANIPULATION_PAGE.SEO_TITLE} description={i18n.MANIPULATION_PAGE.SEO_DESCRIPTION}>
    <SectionContainer class="mt-36 lg:max-w-[1120px] flex flex-col items-center gap-4">
        <div class="max-w-[740px] mx-auto flex flex-col items-center gap-4">
            <h1 class='flex  gap-2 md:gap-4 text-3xl lg:text-4xl dark:text-white font-bold'> 
                <Brush class="size-8 lg:size-10"/>
                {i18n.MANIPULATION_PAGE.CONTENT.SECTION.TITLE}
            </h1>
            <h2 class="dark:text-white/70 text-pretty text-center text-lg">
                {i18n.MANIPULATION_PAGE.CONTENT.SECTION.DESCRIPTION.PART_1} <span class="text-yellow-200">{i18n.MANIPULATION_PAGE.CONTENT.SECTION.DESCRIPTION.PART_2}</span> {i18n.MANIPULATION_PAGE.CONTENT.SECTION.DESCRIPTION.PART_3}
            </h2>
        </div>
        <Gallery 
            galeria={GALLERY}
            client:only 
        />
    </SectionContainer>
</Layout>