---
import SectionContainer from "../../components/SectionContainer.astro";
import Brush from "../../icons/Brush.astro";
import Layout from "../../layouts/Layout.astro";
import sharp from "sharp";
import { Gallery } from "../Gallery";
import { getI18n } from "../../i18n/ui";

const { currentLocale = 'es' } = Astro
const i18n = getI18n({ currentLocale })

const totalDeImagenes = 36;  // Puedes ajustar esto según la cantidad de imágenes que desees
const galeriaIncremental = [];


const generateIncrementalName = (baseName: string, index: number): string => {
    return `${baseName}_${index}`;
};

for (let i = 0; i <= totalDeImagenes; i++) {
    const baseName = "img";  // Puedes cambiar esto a otros nombres según tus necesidades
    const imageName = generateIncrementalName(baseName, i);
    const imagePath = `public/designs/socialmedia/${imageName}.webp`;
    
    const imageMeta = await sharp(imagePath).metadata()
    const height = imageMeta.height as number
    const width = imageMeta.width as number

    const isVertical = (height > 1080) && (height <= 1920)

    const imageObj = {
        name: imageName,
        thumb: `/designs/socialmedia/thumbs/${imageName}.webp`,
        img: `/designs/socialmedia/${imageName}.webp`,
        width,
        height,
        isVertical,
    };



    galeriaIncremental.push(imageObj);
}
---

<Layout title={i18n.DESIGNS_PAGE.SEO_TITLE} description={i18n.DESIGNS_PAGE.SEO_DESCRIPTION}>
    <SectionContainer class="mt-36 lg:max-w-[1120px] flex flex-col items-center gap-4">
        <div class="max-w-[740px] mx-auto lg:text-center flex flex-col items-center gap-4 justify-center">
            <h1 class='flex gap-2 md:gap-4 text-3xl lg:text-4xl dark:text-white font-bold items-center'> 
                <Brush class="size-10 lg:size-10"/>
                {i18n.DESIGNS_PAGE.CONTENT.SECTION.TITLE}
            </h1>
            <h2 class="dark:text-white/70 text-pretty text-lg text-center">
                {i18n.DESIGNS_PAGE.CONTENT.SECTION.DESCRIPTION.PART_1}<span class="dark:text-yellow-200"> {i18n.DESIGNS_PAGE.CONTENT.SECTION.DESCRIPTION.PART_2}</span>  {i18n.DESIGNS_PAGE.CONTENT.SECTION.DESCRIPTION.PART_3} {i18n.DESIGNS_PAGE.CONTENT.SECTION.DESCRIPTION.PART_4}<span class="dark:text-red-300"> {i18n.DESIGNS_PAGE.CONTENT.SECTION.DESCRIPTION.PART_5}</span>
            </h2>
        </div>
        <Gallery 
            galeria={galeriaIncremental}
            client:only
        />
    </SectionContainer>
</Layout>