---
import ArrowForward from '../icons/ArrowForward.astro';
import Projects from './Projects.astro';

const GALLERY_H = [
    {
        name: "crime",
        thumb: "/designs/thumbs/crime.webp",
        img: "/designs/crime.png",
        width: "1920",
        height: "1080",
        tipoDesign: "Fotomontajes",
        desc: "Fotomontajes hechos en Photoshop en donde se trata de comunicar una historia a través de manipulaciones de imágenes.",
        linkTo: "/manipulation"
    },
    {
        name: "duosantti",
        thumb: "/designs/thumbs/duosantti.webp",
        img: "/designs/duosantti.png",
        width: "1920",
        height: "1080",
        tipoDesign: "Social Media",
        desc: "Diseños para redes sociales en general, hechos para llamar la atención de los clientes y marcar presencia.",
        linkTo: "/socialmedia"
    }
]
---
<article class="lg:flex grid grid-cols-1 max-w-[300px] lg:max-w-full gap-2" id="gallery">
    <div class="grid self-start gap-2">
        {
            GALLERY_H.map((project) => (
                    <a  class="shadow-lg shadow-black/25 overflow-hidden hover:scale-[1.01] transition-all ease-out duration-300 w-full rounded-lg border border-transparent dark:border-transparent hover:border-violet-600 dark:hover:border-blue-300/60 relative group"
                        href={project.linkTo}
                        target="_blank"
                    >
                        <img 
                            src={project.thumb} 
                            alt={project.name}
                        />
                        <span class="absolute top-8 left-6 text-4xl font-semibold z-10 translate-y-6 group-hover:translate-y-0 text-transparent group-hover:text-white transition-all flex flex-col max-w-[300px] gap-2">
                            {project.tipoDesign}
                            <small class="text-sm group-hover:text-white/70">
                                {project.desc}
                            </small>
                            <small class="text-sm group-hover:text-blue-300/70">
                                Click para hechar un vistazo...
                            </small>
                        </span>
                        <div class="size-full group-hover:bg-gradient-to-br group-hover:from-black group-hover:to-transparent transition-all absolute top-0 left-0"/>
                    </a>
            ))
        }
    </div>
</article>
