---
import 'photoswipe/style.css';
import ArrowForward from '../icons/ArrowForward.astro';

const GALLERY_V = [
    {
        name: "cat",
        thumb: "/designs/thumbs/cat.webp",
        img: "/designs/cat.png",
        width: "3000",
        height: "4000"
    },
    {
        name: "spinetta",
        thumb: "/designs/thumbs/spinetta.webp",
        img: "/designs/spinetta.png",
        width: "1200",
        height: "1200"
    },
    {
        name: "revtek",
        thumb: "/designs/thumbs/revtek.webp",
        img: "/designs/revtek.png",
        width: "808",
        height: "632"
    }
]

const GALLERY_H = [
    {
        name: "china",
        thumb: "/designs/thumbs/china.webp",
        img: "/designs/china.png",
        width: "1920",
        height: "1080"
    },
    {
        name: "crime",
        thumb: "/designs/thumbs/crime.webp",
        img: "/designs/crime.png",
        width: "1920",
        height: "1080"
    },
    {
        name: "dillom",
        thumb: "/designs/thumbs/dillom.webp",
        img: "/designs/dillom.png",
        width: "3000",
        height: "2000"
    },
    {
        name: "duosantti",
        thumb: "/designs/thumbs/duosantti.webp",
        img: "/designs/duosantti.png",
        width: "1920",
        height: "1080"
    },
    {
        name: "yellow",
        thumb: "/designs/thumbs/yellow.webp",
        img: "/designs/yellow.png",
        width: "1920",
        height: "1080"
    }
]
---
<article class="lg:flex grid grid-cols-1 max-w-[300px] lg:max-w-full gap-2" id="gallery">
    <div class="grid self-start gap-2">
        {
            GALLERY_H.map((project) => (
                    <a  class="shadow-lg shadow-black/25 overflow-hidden hover:scale-[1.01] transition-all ease-out duration-300 w-full rounded-md border border-transparent dark:border-transparent hover:border-violet-600 dark:hover:border-blue-300/60"
                        href={project.img}
                        target="_blank"
                        data-pswp-width={project.width}
                        data-pswp-height={project.height}
                    >
                        <img 
                            src={project.thumb} 
                            alt={project.name}>
                    </a>
            ))
        }
    </div>
    <div class="grid self-start gap-2">
        {
            GALLERY_V.map((project) => (
                    <a  class="shadow-lg shadow-black/25 overflow-hidden hover:scale-[1.01] transition-all ease-out duration-300 w-full rounded-md border border-transparent dark:border-transparent hover:border-violet-600 dark:hover:border-blue-300/60"
                        href={project.img}
                        target="_blank"
                        data-pswp-width={project.width}
                        data-pswp-height={project.height}
                    >
                        <img 
                            src={project.thumb} 
                            alt={project.name}>
                    </a>
            ))
        }
    </div>
</article>
<div class="mt-4 flex justify-center">
    <a class='inline-flex h-12 mt-2 bg-violet-800 dark:animate-background-shine items-center justify-center rounded-full border border-gray-200 dark:border-white/30 dark:bg-[linear-gradient(110deg,#000103,45%,#1e2631,55%,#000103)] bg-[length:200%_100%] px-2 md:px-6 font-medium text-white dark:text-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-offset-2 focus:ring-offset-gray-50 w-32 md:w-56 hover:scale-105 transition-all ease-in-out gap-2' href="/gallery" target="_blank">
        Ver todo
        <ArrowForward />
    </a>
</div>

<script>
    import PhotoSwipeLightbox from 'photoswipe/lightbox';
    const lightbox = new PhotoSwipeLightbox({
        gallery: '#gallery',
        children: 'a',
        pswpModule: () => import('photoswipe')
    });
    lightbox.init();
</script>