---
import 'photoswipe/style.css';

const { galeria } = Astro.props as Props

interface Images {
    name: string;
    thumb: string;
    img: string;
    width: string;
    height: string;
}

interface Props {
    galeria: Images[]
}
    
---
<article class="lg:flex grid grid-cols-1 max-w-[300px] lg:max-w-full gap-2" id="gallery">
    <div class="grid self-start gap-2">
        {
            galeria.map(({ name, width, thumb, height, img }) => (
                    <a  class="shadow-lg shadow-black/25 overflow-hidden hover:scale-[1.01] transition-all ease-out duration-300 w-full rounded-md border border-transparent dark:border-transparent hover:border-violet-600 dark:hover:border-blue-300/60"
                        href={img}
                        target="_blank"
                        data-pswp-width={width}
                        data-pswp-height={height}
                    >
                        <img 
                            src={thumb} 
                            alt={name}>
                    </a>
            ))
        }
    </div>
    <div class="grid self-start gap-2">
        {
            galeria.map(({ name, width, thumb, height, img }) => (
                    <a  class="shadow-lg shadow-black/25 overflow-hidden hover:scale-[1.01] transition-all ease-out duration-300 w-full rounded-md border border-transparent dark:border-transparent hover:border-violet-600 dark:hover:border-blue-300/60"
                        href={img}
                        target="_blank"
                        data-pswp-width={width}
                        data-pswp-height={height}
                    >
                        <img 
                            src={thumb} 
                            alt={name}>
                    </a>
            ))
        }
    </div>
</article>

<script>
    import PhotoSwipeLightbox from 'photoswipe/lightbox';
    const lightbox = new PhotoSwipeLightbox({
        gallery: '#gallery',
        children: 'a',
        pswpModule: () => import('photoswipe')
    });
    lightbox.init();
</script>