---
import SectionContainer from "../../components/SectionContainer.astro";
import 'photoswipe/style.css';
import Brush from "../../icons/Brush.astro";
import Layout from "../../layouts/Layout.astro";
import FullGallery from "../../components/FullGallery.astro";
import sharp from "sharp";

const totalDeImagenes = 36;  // Puedes ajustar esto según la cantidad de imágenes que desees
const galeriaIncremental = [];


const generateIncrementalName = (baseName: string, index: number): string => {
    return `${baseName}_${index}`;
};

for (let i = 0; i <= totalDeImagenes; i++) {
    const baseName = "img";  // Puedes cambiar esto a otros nombres según tus necesidades
    const imageName = generateIncrementalName(baseName, i);
    const imagePath = `public/designs/socialmedia/${imageName}.webp`;
    
    const imageMeta = await sharp(imagePath).metadata()
    const height = imageMeta.height as number
    const width = imageMeta.width as number

    const isVertical = height === 1080 ? true : false

    const imageObj = {
        name: imageName,
        thumb: `/designs/socialmedia/thumbs/${imageName}.png`,
        img: `/designs/socialmedia/${imageName}.webp`,
        width,
        height,
        isVertical,
    };



    galeriaIncremental.push(imageObj);
}
---

<Layout title="Freddy Sanabria - Galería de Diseños y Montajes" description="Conoce todos algunos de mis diseños más destacables">
    <SectionContainer class="mt-36 lg:max-w-[1120px] flex flex-col items-center gap-4">
        <div class="max-w-[740px] mx-auto lg:text-center flex flex-col items-center gap-4 justify-center">
            <h1 class='flex gap-2 md:gap-4 text-3xl lg:text-4xl dark:text-white font-bold items-center'> 
                <Brush class="size-10 lg:size-10"/>
                Social Media
            </h1>
            <h2 class="dark:text-white/70 text-pretty text-lg text-center">
                En esta sección podrás ver mis <span class="dark:text-yellow-200">mejores diseños</span>  hechos con <span class="dark:text-red-300">Photoshop, Illustrator y otros.</span> Todo esto fue 100% diseñado por mí.
            </h2>
        </div>
        <FullGallery 
            galeria={galeriaIncremental}
        />
    </SectionContainer>
</Layout>